.oneListBlock {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 5%;
    background-color: whitesmoke;
}

.filtration > button {
    margin-right: 5px;
}

.oneListBlock > i {
    color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}