@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

/* .MainContent {
    display: flex;
    flex-direction: row;
} */

.App p {
    margin: 10px;
    font-family: 'Ranchers', cursive;
    font-size: 40px;
    color: red;
}

