.App {
  background-color: deepskyblue;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: deepskyblue;
}

.isDone {
  opacity: 0.5;
}